body {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.QandA {
    margin: 1em 0;
    background-color: aliceblue;
    border: solid lightgray;
}

.question {
    background-color: royalblue;
    color: white;
    padding: 10px;
}
.answer {
    display: flex;
    padding: 1em;
}
img {
    margin: 0;
    width: 25%;
}
.answer p {
    width:80%;
}
.answer img {
    width:20%;
}
video {
    width:100%;
}